<!DOCTYPE html>
<html>
<body>
  
<h1>Youtube video downloader</h1>
  
  
<form action="" method="post">
    {% csrf_token %}
  
  <label for="link">Enter URL:</label>
  <input type="text" id="link" name="link"><br><br>
  <input type="submit" value="Submit">
</form>
    
      {% if urls %}
       <h2>{{ title }}</h2>
       <img src="{{ thumb }}" alt="Thumnail"/>
      {% for video in urls %}
         <h3>{{ title }} - {{ video.resolution}}</h3>
         <video src="{{ video.url }}" autoplay="false" preload="none" controls></video> <br/>
         {{ video }}
         {% endfor %}
      <hr>
      {{ urls }}
    {% endif %}
</body>
</html>